{% extends 'base.html' %}


{% block content %}

<!-- Main Section -->
<main class="projects">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2>Search for <span>Developer</span></h2>
        </div>

        <div class="hero-section__search">
          <form class="form" action="{% url 'profiles' %}" method="get" id="searchForm">
            <div class="form__field">
              <label for="formInput#search">Search By Projects </label>
              <input class="input input--text" id="formInput#search" type="text" name="value" 
              value = '{{search}}' placeholder="Search" />
            </div>

            <input class="btn btn--sub btn--lg" type="submit" value="Search" />
          </form>
        </div>
      </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="projectsList">
      <div class="container">
        <div class="grid grid--three">
        {% for i in profiles %}
        <div class="column card">
            <div class="dev">
              <a href="{% url 'user_profile' i.id %}" class="card__body">
                <div class="dev__profile">
                  <img class="avatar avatar--md" src="{{i.profile_image.url}}" alt="image" />
                  <div class="dev__meta">
                    <h3>{{i.name}}</h3>
                    <h5>{{i.short_intro|slice:'60'}}</h5>
                  </div>
                </div>
                <p class="dev__info">
                  {{i.bio|slice:'150'}}
                </p>
                <div class="dev__skills">
                    {% for skill in i.skill_set.all|slice:'5' %}
                    <span class="tag tag--pill tag--main">
                        <small>{{skill}}</small>
                    </span>
                    {% endfor %}
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    {% include 'pagination.html' with queryset=profiles custom_range=custom_range %}
</main>
    
{% endblock %}
    